<div fxLayoutAlign="end">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Chart.js">
      <br>
      <div class="chart">
        <canvas #PieChart></canvas>
      </div>
    </mat-tab>
    <mat-tab label="FusionChart">
      <br>
      <div style="text-align: center">
        <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
                WIDTH="600" HEIGHT="350" id="FusionCharts">
          <PARAM NAME=movie VALUE="../../../../../assets/charts/charts/FC_2_3_Pie3D.swf">
          <PARAM NAME="FlashVars"
                 VALUE="&dataURL=../../../../../assets/charts/data_pizza.xml&amp;chartWidth=600&amp;chartHeight=350">
          <PARAM NAME=quality VALUE=high>
          <PARAM NAME=bgcolor VALUE=#FFFFFF>
          <EMBED src="../../../../../assets/charts/FC_2_3_Pie3D.swf"
                 FlashVars="&dataURL=../../../../../assets/charts/data_pizza.xml&amp;chartWidth=600&amp;chartHeight=350"
                 quality=high
                 bgcolor=#FFFFFF WIDTH="600" HEIGHT="350" NAME="FusionCharts"
                 TYPE="application/x-shockwave-flash"
                 PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
        </OBJECT>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>